#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &bt BT_SEL 0     // кнопка 1
                &bt BT_SEL 1     // кнопка 2
                &bt BT_CLR       // кнопка 3
                &reset           // кнопка 4
            >;
        };
    };
};
